@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$base_color: rgba(255, 255, 255, 1);

$text_color: rgba(0, 0, 0, 1);

$font_weight: 100;

@mixin playFair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    @include playFair();
}

.heading {
    display: flex;
    justify-content: center;
    color: red;
}

.login {
    padding-top: 3rem;
}

.form {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}